<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title>RuboCop output</title>
    <style>
    * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    }
    
    body, html {
    font-size: 62.5%;
    }
    body {
    background-color: #ecedf0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0;
    }
    #header {
    background: #171717;
    border-bottom: none;
    border-left: 1px solid #3a3a3a;
    box-shadow: 1px 3px 0 1px #cccccc;
    height: 50px;
    padding: 0;
    }
    h2 {
    color: #FFF;
    display: inline-block;
    float: left;
    height: 50px;
    font-size: 2rem;
    letter-spacing: normal;
    line-height: 50px;
    margin: 0;
    padding: 0 22px 0 20px;
    }
    
    .information, #offenses {
    width: 100%;
    padding: 20px;
    color: #333;
    }
    #offenses {
    padding: 0 20px;
    }
    
    .information .infobox {
    border-left: 3px solid;
    border-radius: 4px;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    padding: 15px;
    border-color: #0088cc;
    }
    
    .information .infobox .info-title {
    font-size: 1.8rem;
    line-height: 2.2rem;
    margin: 0;
    }
    .information .infobox ul {
    font-size: 1.4rem;
    list-style: none;
    margin: 0;
    margin-top: 5px;
    padding: 0;
    }
    .information .infobox ul li {
    line-height: 1.8rem
    }
    
    #offenses .offense-box {
    border-radius: 4px;
    margin-bottom: 20px;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    }
    #offenses .offense-box .box-title h3 {
    color: #33353f;
    background-color: #f6f6f6;
    font-size: 2rem;
    line-height: 2rem;
    display: block;
    padding: 15px;
    border-radius: 5px;
    margin: 0;
    }
    #offenses .offense-box .offense-reports  {
    padding: 0 15px;
    }
    #offenses .offense-box .offense-reports .report {
    border-bottom: 1px dotted #ddd;
    padding: 15px 0px;
    position: relative;
    font-size: 1.3rem;
    }
    #offenses .offense-box .offense-reports .report:last-child {
    border-bottom: none;
    }
    #offenses .offense-box .offense-reports .report pre {
    background: #000;
    color: #fff;
    padding: 10px 15px;
    font-size: 1.2rem;
    border-radius: 5px;
    line-height: 1.6rem;
    }
    #offenses .offense-box .offense-reports .report .location {
    padding: 0;
    list-style: none;
    }
    #offenses .offense-box .offense-reports .report .location li {
    display: inline;
    margin-right: 10px;
    }
    .severity {
    text-transform: capitalize;
    font-weight: bold;
    }
    .severity.convention, .severity.refactor {
    color: #47a447;
    }
    .severity.warning {
    color: #ed9c28;
    }
    .severity.error, .severity.fatal {
    color: #d2322d;
    }
    </style>
  </head>
  <body>
    <div id="header">
      <h2>RuboCop Output</h2>
    </div>
    <div class="information">
      <div class="infobox">
        <h4 class="info-title">RuboCop Stats</h4>
        <ul>
          <li><strong>Offense Count:</strong> <%= output_hash[:summary][:offense_count] %></li>
          <li><strong>Target File Count:</strong> <%= output_hash[:summary][:target_file_count] %></li>
          <li><strong>Inspected File Count:</strong> <%= output_hash[:summary][:inspected_file_count] %></li>
        </ul>
      </div>
    </div>
    <div id="offenses">
      <% output_hash[:files].each do |file| %>
      <% if file[:offenses].any? %>
      <div class="offense-box">
        <div class="box-title"><h3><%= file[:path] %> - <%= file[:offenses].length %></h3></div>
        <div class="offense-reports">
          <% file[:offenses].each do |offense| %>
          <div class="report">
            <p class="message"><span class="severity <%= offense[:severity] %>"><%= offense[:severity] %>:</span> <%= offense[:message] %></p>
            <% if offense[:location][:source_line].strip.length > 0 %>
<pre>
<%= offense[:location][:source_line] %>
<%= offense[:location][:highlight] %>
</pre>
            <% end %>
            <ul class="location">
              <li><strong>Line: </strong> <%= offense[:location][:line] %></li>
              <li><strong>Column: </strong> <%= offense[:location][:column] %></li>
              <li><strong>Length: </strong> <%= offense[:location][:length] %></li>
            </ul>
          </div>
          <% end %>
        </div>
      </div>
      <% end %>
      <% end %>
    </div>
    <div class="information">
      <div class="infobox">
        <h4 class="info-title">Environment Information</h4>
        <ul>
          <li><strong>RuboCop Version:</strong> <%= output_hash[:metadata][:rubocop_version] %></li>
          <li><strong>Ruby Engine:</strong> <%= output_hash[:metadata][:ruby_engine] %></li>
          <li><strong>Ruby Version:</strong> <%= output_hash[:metadata][:ruby_version] %></li>
          <li><strong>Ruby Patch Level:</strong> <%= output_hash[:metadata][:ruby_patchlevel] %></li>
          <li><strong>Ruby Platform:</strong> <%= output_hash[:metadata][:ruby_platform] %></li>
        </ul>
      </div>
    </div>
  </body>
</html>